<main class="d-flex flex-md-row flex-lg-row flex-xl-row flex-column">
	<article class="flex-column flex ml-3 mr-3">
		<p>
			<abbr title="binary-to-text encoding schemes">Base64</abbr> CSS Generator will generate
			base64
			encoded data from an image file. This data can then be used in CSS files which saves the
			browser from having to make additional HTTP requests for the external resources, and can
			therefore increase page loading speed with less time. Keep in mind that base64 encoding
			will make the image
			file larger by approximately 30%, because CSS files are cached by the browser, it might
			still
			be faster than loading images each time you visit a new page on your website.
		</p>

		<section class="form-horizontal" id="form-js">
			<p class="control-label">Drag &amp; Drop or Upload image file here</p>

			<section
				class="drop-zone mb-5"
				id="dropTarget"
				appDragDrop
				(dropHandler)="onDropHandler($event)">
				<article class="d-flex flex-column">
					<p class="text-secondary text-center mb-3">Drop your image here</p>

					<label for="upload-file" class="btn btn-warning mr-auto ml-auto cursor--pointer">
						Browse Image
						<input
							#file
							type="file"
							id="upload-file"
							class="d-none"
							accept='image/*'
							(change)="onUploadByButton(file.files)">
					</label>
				</article>
			</section>
		</section>

		<form
				[formGroup]="textAreaForm">
			<div *ngIf="droppedFiles.length > 0"
			     id="droppedFilesResult"
			     class="d-flex flex-column mt-3">
				<article class="d-flex flex-row">
					<p class="pr-5 mb-0 mw-100 font-bold">Name:</p>

					<p class="flex-grow-1 font-size-sm" *ngFor="let item of droppedFiles; let i=index">
						<i>{{ item.name }}</i>
					</p>
				</article>

				<article class="d-flex flex-row">
					<p class="pr-5 mb-0 mw-100 font-bold">Image Preview:</p>

					<div class="flex-grow-1 mb-3">
						<img [src]="imageSrc" height="150">
					</div>
				</article>

				<article class="d-flex flex-row">
					<p class="pr-5 mb-0 mw-100 font-bold">Data URI:</p>

					<p class="flex-grow-1">
						<textarea class="form-control font-size-sm" rows="6" formControlName="droppedURI"></textarea>
					</p>
				</article>

				<article class="d-flex flex-row">
					<p class="pr-5 mb-0 mw-100 font-bold">Image Tag:</p>

					<p class="flex-grow-1">
						<textarea class="form-control font-size-sm" rows="6" formControlName="droppedImgTagName"></textarea>
					</p>
				</article>

				<article class="d-flex flex-row">
					<p class="pr-5 mb-0 mw-100 font-bold">CSS Background:</p>

					<p class="flex-grow-1">
						<textarea class="form-control font-size-sm" rows="6" formControlName="droppedBackgroundStyle"></textarea>
					</p>
				</article>
			</div>

			<div *ngIf="uploadedFiles.length > 0"
			     id="uploadedFilesResult"
			     class="d-flex flex-column mt-3">
				<article class="d-flex flex-row">
					<p class="pr-5 mb-0 mw-100 font-bold">Name:</p>

					<p class="flex-grow-1 font-size-sm" *ngFor="let item of uploadedFiles; let i=index">
						<i>{{ item.name }}</i>
					</p>
				</article>

				<article class="d-flex flex-row">
					<p class="pr-5 mb-0 mw-100 font-bold">Image Preview:</p>

					<div class="flex-grow-1 mb-3">
						<img [src]="imgURL" height="150">
					</div>
				</article>

				<article class="d-flex flex-row">
					<p class="pr-5 mb-0 mw-100 font-bold">Data URI:</p>

					<p class="flex-grow-1">
						<textarea class="form-control font-size-sm" rows="6" formControlName="uploadedURI"></textarea>
					</p>
				</article>

				<article class="d-flex flex-row">
					<p class="pr-5 mb-0 mw-100 font-bold">Image Tag:</p>

					<p class="flex-grow-1">
						<textarea class="form-control font-size-sm" rows="6" formControlName="uploadedImgTagName"></textarea>
					</p>
				</article>

				<article class="d-flex flex-row">
					<p class="pr-5 mb-0 mw-100 font-bold">CSS Background:</p>

					<p class="flex-grow-1">
						<textarea class="form-control font-size-sm" rows="6" formControlName="uploadedBackgroundStyle"></textarea>
					</p>
				</article>
			</div>
		</form>


	</article>

	<article class="flex-column flex ml-3 mr-3 mt-md-0 mt-5">
		<div class="card">
			<div class="card-body">
				<h4 class="card-title">Web browser support</h4>

				<p class="card-text">As of March 2012, Data URIs are supported by the following web browsers:</p>

				<article class="card-text">
					<ul>
						<b class="info-button"></b>

						<li>
							<b class="info-button">Gecko-based</b>, such as Firefox, SeaMonkey, XeroBank, Camino,
							Fennec and K-Meleon
						</li>

						<li>
							<b class="info-button">Konqueror</b>, via KDE's KIO slaves input/output system
						</li>

						<li>
							<b class="info-button">Opera</b> (including devices such as the Nintendo DSi or Wii)
						</li>

						<li>
							<b class="info-button">WebKit-based</b>, such as Safari (including iOS), Android's
							browser, Kindle 4's browser, Epiphany and Midori (WebKit is a derivative of Konqueror's
							KHTML engine, but Mac OS X does not share the KIO architecture so the implementations
							are different), and Webkit/Chromium-based, such as Chrome
						</li>

						<li>
							<b class="info-button">Trident</b>

							<ul>
								<li>
									Internet Explorer 9: Internet Explorer 9 does not have 32KB limitation and
									supports more elements.
								</li>
							</ul>
						</li>
					</ul>
				</article>
			</div>
		</div>
	</article>
</main>
