.form-group {
	margin-bottom: 15px;
}

#file {
	padding: 12px;
	height: 50px;
}

label {
	display: inline-block;
	max-width: 100%;
	margin-bottom: 5px;
	font-weight: bold;
}

.drop-zone.hover {
	background-color: #c2d2fb;
	-webkit-transition: .25s;
	-moz-transition: .25s;
	-o-transition: .25s;
	transition: .25s;
	border-color: #92aef7;
	color: #000;
}

.form-horizontal .text-center {
	padding: 10px 0 0;
	font-size: 24px;
	font-weight: bold;
	margin: 0;
	color: #bdbdbd;
}

.control-label {
	font-size: 20px;
	color: #e9a308;
	font-weight: bold;
	padding-bottom: 10px;
}

.fileUpload {
	position: relative;
	overflow: hidden;
	margin: 10px;
}

.info-button {
	color: #e9a308;
}

#result img {
	max-width: 100%;
}

#result table {
	width: 100%;
	border-collapse: separate;
	border-spacing: 10px;
}

#result table th {
	width: 15%;
}
