<footer class="d-flex flex-md-row flex-lg-row flex-xl-row flex-column">
	<article class="flex-column flex ml-3 mr-3">
		<h5>Base64 CSS Generator</h5>

		<ul class="mb-0">
			<li>Best way to convert Image to CSS codes.</li>
			<li>Speed up your website with cached CSS codes.</li>
			<li>Boost your search rankings.</li>
			<li>Increase your site's performance in user side.</li>
		</ul>
	</article>

	<article class="flex-column flex ml-3 mr-3">
		<h5>Base64</h5>

		<p>
			Base64 is a group of similar binary-to-text encoding schemes that represent binary data in an
			ASCII string format by translating it into a radix-64 representation.
		</p>

		<h6 class="thead-light">See also</h6>

		<ul>
			<li>
				<a href="http://en.wikipedia.org/wiki/Base64" target="_blank">Base64 - Wikipedia</a>
			</li>
		</ul>
	</article>
</footer>
