.header-content {
	.logo {
		height: 70px;
	}

	.github-ribbon {
		svg {
			fill: #f3bf22;
			color: #fff;
			height: 100%;
			max-height: 75px;
			position: absolute;
			top: 0;
			border: 0;
			right: 0;
		}

		&:hover {
			.octo-arm {
				animation: octoCat-wave 500ms ease-in-out;
			}
		}
	}

	@keyframes octoCat-wave {
		0%,
		100% {
			transform: rotate(0);
		}

		20%,
		60% {
			transform: rotate(-25deg);
		}

		40%,
		80% {
			transform: rotate(10deg);
		}
	}

	@media (max-width: 750px) {
		.github-ribbon {
			&:hover {
				.octo-arm {
					animation: none;
				}
			}
		}

		.github-ribbon {
			.octo-arm {
				animation: octoCat-wave 500ms ease-in-out;
			}

			svg {
				max-height: 50px;
			}
		}
	}
}
